.sample {
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: black;
  background: rgba(192,192,192,0.5);
}

#run {
  background-color: #37c0d0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1em; 
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;;
}

#run:focus {
  outline: 0;
}

#run:hover {
  background-color: darken(#37c0d0,5%);
  color: white;
}
