@import 'theme/template/mixins';
@import 'theme/template/settings';

$headingColor: #fff;
$mainColor: #fff;
$blockMargin: 10px;
$heading1Size: 2.5em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$heading4Size: 1.4em;
$heading5Size: 1.1em;

body {
  background-color: #000;
}

.reveal {
  .slides h1,
  .slides h2,
  .slides h3,
  .slides h4,
  .slides h5,
  .slides h6,
  .slides p {
      // text-shadow: 2px 2px #fff;
    }
  pre {
    box-shadow: none !important;
    width: 95% !important;
    margin-top: 30px !important;

    code {
      max-height: 350px !important;
    }
  }

  blockquote {
    margin-top: 40px !important;
    padding: 20px !important;
    background: rgba(255, 255, 255, 0.1) !important;
  }

  .slides h1 {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .slides h4 {
    margin-bottom: 0px;
  }

  .slide-background {
    background-color: rgba(0,0,0,.85);
    &.intro {
      background-color: rgba(0,0,0,.35);
    }
    &.stack {
      background-color: rgba(0,0,0,0);
    }
  }

  .slides .intro {
    h1 {
      font-size: 6em;
      line-height: 1.1;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 2.5em;
      margin-bottom: 50px;
    }
  }

  .slides {
    .row {
      padding: 10px;
      ul {
        &.col {
          vertical-align: top;
          width: 30%;
          display: inline-block;
          margin: 0 5px 5px 0;
          padding: 0;
          li {
            list-style-type: none;
            margin: 0 0 5px 0;
            padding: 5px;
          }
        }
      }
    }

    .left {
      width: 400px;
      float: left;
      margin: 0 5px 0 10px;
      padding: 0;
    }

    .right {
      width: 1000px;
      float: right;
      margin: 0 10px 0 5px;
      padding: 0;
    }

    ul {
        .col {
            width: 60px;
            float: left;
            margin: 0 5px 0 0;
            padding: 0;

            li {
                width: 50px;
                background: #999;
                list-style-type: none;
                margin: 0 0 5px 0;
                padding: 5px;
            }
         }
    }

    .clear {
      clear: both;
    }
  }
}

.reveal ol, .reveal dl, .reveal ul {
  margin-top: 1.4em !important;
  max-width: 900px;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  margin-top: 0 !important;
}

.transparent {
  background: rgba(127,127,127,0.4);
  border-width: 1px;
  border-color: black;
}

@import 'theme/template/theme';