@import 'theme/template/mixins';
@import 'theme/template/settings';

$headingColor: #222;
$mainColor: #222;
$blockMargin: 10px;
$heading1Size: 1.75em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.15em;
$heading5Size: 1.1em;

.reveal {
  .slides h1,
  .slides h2,
  .slides h3,
  .slides h4,
  .slides h5,
  .slides h6,
  .slides p {
      text-shadow: 2px 2px #fff;
    }


  .slides {
    background: rgba(192,192,192,0.7);
    border-width: 1px;
    border-color: black;

    ul {
        .col {
            width: 60px;
            float: left;
            margin: 0 5px 0 0;
            padding: 0;

            li {
                width: 50px;
                background: #999;
                list-style-type: none;
                margin: 0 0 5px 0;
                padding: 5px;
            }
         }
    }

    .clear {
      clear: both;
    }
  }
}

.transparent {
  background: rgba(127,127,127,0.4);
  border-width: 1px;
  border-color: black;
}

@import 'theme/template/theme';
