.sample {
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: black;
  background: rgba(192, 192, 192, 0.5); }

#sample {
  font-size: 1.5em;
  font-family: monospace; }
  #sample li {
    color: #fff;
    list-style-type: none; }
    #sample li:before {
      content: "> "; }

#run {
  background-color: #37c0d0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

#run:focus {
  outline: 0; }

#run:hover {
  background-color: #2db1c0;
  color: white; }
